@import url("../../../index.module.less");

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}

.layout-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.zoomIn {
    animation-name: zoomIn;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

.layout-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #fff;
    border-radius: 4px;
    width: 100%;
    height: 100%;

    .layout-modal-content {
        padding: 16px 24px;
    }

    .layout-modal-header {
        min-height: 60px;
        background-color: #f8f8f8;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 24px;

        .layout-modal-header-tool {
            font-size: 16px;
            cursor: pointer;
            color: #000000;

            >span {
                margin-left: 4px;
            }

            &:hover {
                color: #338fe5;
            }
        }
    }
}